name: Generate and Publish Javadoc

on:
  push:
    branches:
      - main  # Change this if your default branch is different

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    
      - name: download KShortestPaths
        run: curl -o KShortestPathsFork.jar "https://raw.githubusercontent.com/Indefiable/NoduleDistances/main/assets/ReferencedLibraries/KShortestPathsFork.jar"
      - name: install KShortestPaths to local repo
        run: mvn install:install-file -Dfile="./KShortestPathsFork.jar" -DgroupId=com.example -DartifactId=KShortestPathsFork -Dversion=1.0 -Dpackaging=jar
    
      - name: download traceskeleton
        run: curl -o traceskeleton.jar "https://raw.githubusercontent.com/Indefiable/NoduleDistances/main/assets/ReferencedLibraries/TraceSkeleton.jar"
      - name: install traceskeleton to local repo
        run: mvn install:install-file -Dfile="./traceskeleton.jar" -DgroupId=com.example -DartifactId=traceskeleton -Dversion=1.0 -Dpackaging=jar
      
      - name: download PowerVoronoi
        run: curl -o PowerVoronoiDiagram.jar "https://raw.githubusercontent.com/Indefiable/NoduleDistances/main/assets/ReferencedLibraries/PowerVoronoiDiagram.jar"
      - name: install PowerVoronoiDiagram to local repo
       run: mvn install:install-file -Dfile="./PowerVoronoiDiagram.jar" -DgroupId=com.example -DartifactId=PowerVoronoiDiagram -Dversion=1.0 -Dpackaging=jar
      
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy - Publish Javadoc
        uses: MathieuSoysal/Javadoc-publisher.yml@v3.0.2
        with:
          java-version: 17  
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          deploy-mode: branch 
          javadoc-branch: javadoc
          target-folder: docs  
          java-distribution: temurin 
          project: maven  
          custom-command: mvn javadoc:javadoc -Ddependency-check.skip=true  
          without-deploy: false 
